/* Google Fonts - Dm Sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

/* Google Fonts - Bree Serif */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');


:root {
    --text-color: #02073E;
    --main-color: #F94962;
    --secondary-color: #0f2137;
    --default-white: #fff;
    --backface-color: #F9FAFC;
    --font-bree-serif: 'Bree Serif', serif;
    --font-dm-sans: 'DM Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* Navbar  */
.navbar {
    display: flex;
    padding-top: 28px;
    padding-bottom: 28px;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

li a {
    position: relative;
    font-family: var(--font-dm-sans);
    font-weight: 700;
    text-decoration: none;
    color: var(--secondary-color);
}

li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--main-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: .5s;
}

li a:hover:after {
    width: 100%;
}

.icon-x {
    display: none !important;
}


.btn-gt a:hover:after {
    width: 100%;
    display: none;
}

.btn-gt {
    position: relative;
}

.path {
    position: absolute;
    bottom: -7px;
    left: 5px;
}

/* Navbar End */

/* Hero St */
.hero {
    display: flex;
    gap: 100px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.h-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.h-left h1 {
    font: 400 60px/80px var(--font-bree-serif);
    color: var(--text-color);
}

.h-left p {
    font: 700 18px/42px var(--font-dm-sans);
}

.sucribe-g {
    display: flex;
    gap: 15px;
}

.sucribe-g input {
    border-radius: 5px;
    border-style: solid;
    border-color: #d4dae2;
    border-width: 1px;
    padding: 9px 24px;
    font: 700 18px/40px var(--font-dm-sans);
    outline: none;
    color: var(--text-color);
}

.sucribe-g input::placeholder {
    color: var(--secondary-color);
}

.sucribe-g input:focus {
    border-color: var(--main-color);
    border-width: 1.8px;
}

.btn {
    text-align: center;
    font: 700 20px/40px var(--font-dm-sans);
    outline: none;
    color: var(--default-white);
    border: none;
    background-color: var(--main-color);
    padding: 9px 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s all;
    border: 2px solid var(--main-color);
}

.btn:hover {
    color: var(--main-color);
    background-color: var(--default-white);
    border: 2px solid var(--main-color);
}

.sponserd {
    display: flex;
    gap: 16px;
    align-items: center;
}

.sponserd p {
    color: #566272;
}

.sponserd-logo {
    display: flex;
    gap: 28px;
}

.sponserd img {
    height: 28px;
    filter: grayscale(100%);
    transition: filter 0.3s;
    cursor: pointer;
}

.sponserd img:hover {
    filter: grayscale(0%);
}


.h-right {
    width: 50%;
}

.h-right img {
    width: 100%;
}

/* Hero End */

/* features St */
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title div {
    max-width: 50%;
}

.title h2 {
    text-align: center;
    font: 400 40px/50px var(--font-bree-serif);
}

.title p {
    font: 400 17px/35px var(--font-dm-sans);
    text-align: center;
    margin-top: 10px;
}

.card-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.card {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.card h6 {
    font: 500 18px var(--font-dm-sans);
    margin-bottom: 15px;
    color: var(--secondary-color);
}

.card p {
    font: 400 16px/30px var(--font-dm-sans);
    color: #02073E;
}

/* features End */

/* business St */
.business-profitable {
    background-color: var(--backface-color);
    padding: 100px 0px;
}

.business {
    display: flex;
    gap: 100px;
    align-items: center;
}

.b-left {
    width: 50%;
}

.b-left img {
    width: 100%;
}

.b-right {
    width: 50%;
}

.b-right .titles h2 {
    font: 400 40px/50px var(--font-bree-serif);
}

.b-right .titles p {
    font: 400 17px/35px var(--font-dm-sans);
    margin-top: 20px;
}

.business-card {
    margin-top: 15px;
    margin-bottom: 15px;
}

.business-card p {
    font-size: 16px;
    font-family: var(--font-dm-sans);
    color: var(--text-color);
    line-height: 40px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.business-card i {
    color: #3FDBB1;
    font-size: 19px;
}

.button-icon {
    outline: none;
    border: none;
    background: none;
    color: #3183FF;
    font-family: var(--font-dm-sans);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* business End */

/* .customer St */
.customers {
    margin-top: 60px;
    margin-bottom: 60px;
}

.customer-flex {
    display: flex;
    gap: 100px;
    align-items: center;
}

.c-right {
    width: 50%;
}

.c-right img {
    width: 100%;
}

.c-left {
    width: 50%;
}

.c-left .titles h2 {
    font: 400 40px/50px var(--font-bree-serif);
}

.c-left .titles p {
    font: 400 17px/35px var(--font-dm-sans);
    margin-top: 20px;
}

/* .customer end */

/* feedback St */

.image {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.image img {
    width: 60%;
}

/* feedback End */

/* how its work Section St */
.work {
    background-color: var(--backface-color);
    padding-top: 70px;
    padding-bottom: 70px;
}

/* how its work Section End */

/* support team section St */
.team_img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.team_img img {
    width: 80%;
}


.teaam-fot {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: var(--secondary-color);
    padding: 70px 40px;
    border-radius: 10px;
    justify-content: space-between;
}

.teaam-fot div {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    display: inline-block;
}

.teaam-fot div .im1 {
    position: absolute;
    top: -6px;
    left: 60px;
}

.teaam-fot div .im2 {
    position: absolute;
    bottom: -6px;
    left: 60px;
}

.teaam-fot h2 {
    width: 50%;
    font: 400 36px/50px var(--font-bree-serif);
    color: var(--default-white);
}



.teaam-fot div button {
    text-align: center;
    font: 500 17px/40px var(--font-dm-sans);
    outline: none;
    color: var(--text-color);
    border: none;
    background-color: var(--default-white);
    padding: 9px 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s all;
    border: 2px solid var(--default-white);
}

.teaam-fot div button:hover {
    background-color: transparent;
    color: var(--default-white);
}

/* support team section End */

/* Footer Section St */

footer {
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
}

footer ul li {
    list-style: none;
}

footer ul .sub_title  a{
    color: var(--secondary-color);
    font-family: var(--font-dm-sans);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 60px;
}

footer ul .sub_title  a:hover{
    display: none;
}

.copyright a{
    font-size: 15px;
    font-weight: 400;
}

.main_de_fo a{
    font-size: 15px;
    font-weight: 400;
}


@media screen and (max-width:800px) {

    /* Navbar St */
    .icon-x {
        color: var(--secondary-color);
        font-size: 28px;
        cursor: pointer;
        margin-left: 25px;
        display: block !important;
    }

    .navbar {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .navbar ul {
        flex-direction: column;
        gap: 0px;
        padding-top: 20px;
        background: var(--default-white);
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100vh;
        z-index: 2;
        transition: right 0.5s;
        box-shadow: 0px 6px 12px 0px rgba(171, 190, 209, 0.30);
    }

    .navbar ul li {
        display: block;
        margin: 25px;
    }

    /* Navbar End */

    /* Hero St */
    .hero {
        flex-direction: column-reverse;
        gap: 0px;
        margin-top: 10px;
    }

    .h-left {
        width: 100%;
    }

    .h-right {
        width: 100%;
    }

    .h-left h1 {
        font: 400 40px var(--font-bree-serif);
    }

    .h-left p {
        font: 600 17px var(--font-dm-sans);
    }

    .sponserd-logo {
        gap: 10px;
    }

    .sponserd {
        gap: 12px;

    }

    .sponserd img {
        height: 19px;
    }

    .btn {
        font: 600 17px/29px var(--font-dm-sans);
        padding: 6px 16px;
    }

    .sucribe-g input {
        font: 600 17px/29px var(--font-dm-sans);
        padding: 6px 16px;
        width: 90%;
    }

    .sucribe-g {
        gap: 5px;
    }

    /* Hero End */

    /* features St */
    .card-group {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 30px;
    }

    .title div {
        max-width: 100%;
    }

    .title h2 {
        text-align: left;
        font: 400 30px/50px var(--font-bree-serif);
    }

    .title p {
        text-align: left;
        font: 400 17px/28px var(--font-dm-sans);
    }

    /* features End */

    /* business St  */
    .business {
        flex-direction: column;
    }

    .b-left {
        width: 100%;
    }

    .b-right {
        width: 100%;
    }

    .b-right .titles h2 {
        font: 400 30px/50px var(--font-bree-serif);
    }

    .b-right .titles p {
        font: 400 17px/28px var(--font-dm-sans);
    }

    /* business End  */
    /* customer  st*/
    .customer-flex {
        flex-direction: column-reverse;
    }

    .c-left {
        width: 100%;
    }

    .c-right {
        width: 100%;
    }

    .c-left .titles h2 {
        font: 400 30px/50px var(--font-bree-serif);
    }

    .c-right .titles p {
        font: 400 17px/28px var(--font-dm-sans);
    }

    /* customer  end*/

    /* feedback St */
    .image img {
        width: 100%;
    }

    /* feedback end */
    /* support team section St */
    .team_img img {
        width: 90%;
    }

    .img-icon {
        display: none;
    }

    .teaam-fot h2 {
        width: 100%;
        font: 400 20px/30px var(--font-bree-serif);
        text-align: center;
    }

    .teaam-fot {
        padding: 5px 30px;
        flex-direction: column;
        gap: 0px;
    }

    .teaam-fot div button {
        font: 400 14px/22px var(--font-dm-sans);
    }
    /* support team section End */

    /* footer st */
    footer {
        padding-top: 70px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }

}